.projects-container {
  max-width: 120rem;
  margin: 5rem auto;



  .project {
    width: 100%;

    display: flex;
    gap: 3rem;
    margin: 2rem 2rem;

    .img-container {
      width: 60rem;
    }

    .img-project {
      max-height: 100%;
      max-width: 100%;
      padding: 1rem;
      object-fit: contain;
    }

    .project-text {
      width: 100%;
    }

    p {
      font-size: 2rem;
    }

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        color: #ffc107;
      }
    }

  }
}

@media (max-width:1000px) {
  .projects-container {


    .project {
      flex-direction: column;

      .img-container {
        width: 100%;
        max-width: 500px
      }

      h1 {
        font-size: 1.6rem;
      }

      p {
        font-size: 1.2rem;
      }


    }


  }
}