.container-about {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  max-width: 100%;

  .text {
    padding: 0 3rem;
    width: 80rem;


    h1 {
      font-family: "Roboto";
      font-size: 50px;
      margin: 0 2rem;
    }

    p {
      font-family: "Courier New", Courier, monospace;
      letter-spacing: 0.1rem;
      line-height: 2.5rem;
    }
  }

  img {

    padding: 2rem;
    margin: 1rem;
    width: 40rem;

  }
}



@media (max-width:1000px) {
  .container-about {

    flex-direction: column;



    .text {
      margin: 2rem;
      width: 100%;

      h1 {
        font-size: 3rem;
        text-align: center;

      }

      p {
        font-size: 1.5rem;
        margin: 2rem auto;
        text-align: center;
      }
    }

    .certificates {
      display: flex;
      gap: 1rem;
      flex-direction: column;
      align-self: center;
      width: clamp(30rem, 3.5vw, 70rem);

      div,
      .img {
        width: 100%;

      }
    }

  }
}